@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
body {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}

.wrap {
  width: 100%;
  max-width: 960px;
  height: auto;
  margin: 0 auto;
  margin-top: 80px;
}
.wrap img {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 200px;
}
.wrap h1 {
  text-align: center;
  font-weight: normal;
  color: #464646;
  position: relative;
  font-size: 6em;
}
.wrap .butts {
  display: block;
  width: 300px;
  height: 100px;
  background: #3461b4;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 0;
  border: none;
  color: #fff;
  -webkit-box-shadow: 0px 4px 11px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 4px 11px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 4px 11px 0px rgba(50, 50, 50, 0.75);
  outline: none !important;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.wrap .butts span {
  position: relative;
  top: 20px;
  font-size: 2.5em;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.butts:hover {
  width: 140px;
  height: 140px;
  -moz-border-radius: 70px;
  -webkit-border-radius: 70px;
  border-radius: 70px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.butts:hover span {
  top: 60px;
  font-size: 1em;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

@media only screen and (max-width: 768px) {
  #regTitle {
    font-size: 2em;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
  }

  .image img {
    width: 100px;
    height: 100px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
  }
}
